name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  python-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          python -m pip install --upgrade pip
          pip install pandas numpy matplotlib seaborn azure-storage-blob

      - run: |
          python -m py_compile data_analysis.py
          python -m py_compile lambda_function.py
          python -m py_compile upload_to_azurite.py

  docker-build:
    runs-on: ubuntu-latest
